.main{
    .title{
    opacity: 0;
    animation: myAnimation 2s forwards;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .titulo{
        width: 60%;
        height: 100px;
        color: black;
        @keyframes myAnimation {
            0% { opacity: 0; }
            100% {opacity: 1; }
        }
    }
    .img1{
        img{
            display: flex;
            width: 300px;
            height: 300px;
            border-radius: 380px;
            height: auto;
            border: double rgba(25, 53, 3, 0.363) 5px;
            margin-top: 10px;
        }
    } 
}

.img2{
    background: linear-gradient(245deg, rgb(206, 219, 176) 0%, rgb(120, 160, 197) 50%, rgb(96, 154, 183) 75%);
    justify-content: center;
    align-items: center;
    display: flex;
    .texto1{
        background-image: radial-gradient(circle, #344aa8, #43469e, #435694, #40548a, #3e5080, #3d5a79, #3b4571, #394b69, #35365e, #293352, #222e45, #1e2938);
        margin: 10%;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        h2{
            margin: 5%;
        }
        p{
            margin: 5%;
        }
    }

}

