.navbar{
    background: linear-gradient(245deg, rgb(206, 219, 176) 0%, rgb(120, 160, 197) 50%, rgb(96, 154, 183) 75%);
    a{
        color: black;
    text-decoration: none;
    display: block; 
    }
    .dropdown-menu{
        background: linear-gradient(245deg, rgb(206, 219, 176) 0%, rgb(120, 160, 197) 50%, rgb(96, 154, 183) 75%);
    }
}